.button {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 14px 10px;
  width: 100%;
  max-width: 320px;
  border: 2px solid @basic-text;
  font: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: @basic-text;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: @white;
  cursor: pointer;

  &--contacts {
    margin-top: 41px;

    @media (min-width: @tablet-width) {
      margin-left: 175px;
    }

    @media (min-width: @desktop-width) {
      margin: 0;
    }
  }

  &--reviews {
    @media (min-width: @tablet-width) {
      position: absolute;
      top: 80px;
      right: 52px;
      width: 174px;
    }
  }

  &--form {
    font-size: 17px;
    line-height: 16px;
    color: @white;
    background: @light-green;
    border: none;
    padding: 19px 10px;
    margin-bottom: 46px;
  }

  @media (min-width: @tablet-width) {
    width: 290px;
    max-width: none;
  }
}
