.catalog-form__title {
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: @basic-text;
}

.catalog-form__text {
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: @basic-text;
}

.catalog-form input {
  font-weight: 400;
  font-size: 19px;
  line-height: 18px;
  color: @black;
}

.checkbox__text,
.radio__text {
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: @black;
}

.catalog-form__legend {
  font-weight: 400;
  font-size: 17px;
  line-height: 16px;
  color: @light-green;
}

