.goods-types {
  min-height: 400px;
  background: url("../img/background-home-mobile.png") no-repeat 100% 100%;
  background-color: @background-grey;
}

.goods-types__title {
  text-align: center;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: @black;
}

.goods-types__list {
  padding: 0;
}

.goods-types__item {
  list-style-type: none;
}

.goods-types__link {
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: @white;
  text-decoration: none;
}

.goods-types__item--interior {
  background: @light-green;
}

.goods-types__item--toys {
  background: @special-green;
}
